nav.navbar {
    padding: 0px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.2s ease-in-out;
    background-color: #f8f9fa94;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #f8f9fa;
}

img {
    height: 70px;
    /* Adjust the height to make the logo slightly bigger */
    transition: height 0.3s ease-in-out;
    text-decoration: none;
    /* Remove default underline for the logo */
}

.nav-link {
    color: #343a40;
    /* Dark text color */
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    /* Remove default underline */
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #28a745;
    /* Green color on hover */
}

.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    /* Adjust the value based on your preference */
    left: 0;
    width: 0;
    /* Initially set to no width */
    height: 2px;
    /* Underline height */
    background-color: #28a745;
    /* Green color for the underline */
    transition: width 0.3s ease-in-out;
    /* Transition only the width property */
}

.nav-link.active::after {
    width: 100%;
    /* Expand the underline to full width when active */
}

.navbar-expanded {
    background-color: #fff;
    /* Light background color when expanded */
}

.navbar-expanded .navbar-brand img {
    height: 60px;
    /* Increase logo height when expanded */
}

.navbar-expanded .nav-link {
    color: #343a40;
    /* Dark text color when expanded */
}

.navbar-expanded .nav-link.active::after {
    background-color: #343a40;
    /* Dark color for the underline when active */
}